In [1]:
import pandas as pd 
import numpy as np 
data = pd.read_csv('Environment_Fertilizers_E_All_Data_NOFLAG.csv',encoding='unicode_escape')
data

,Area,Item,Unit,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,...,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018
0,Afghanistan,Nutrient nitrogen N (total),kg/ha,0.13,0.13,0.13,0.13,0.13,0.13,1.13,...,1.79,1.63,2.90,2.16,4.41,9.34,2.66,12.22,17.80,5.89
1,Afghanistan,Nutrient phosphate P2O5 (total),kg/ha,0.01,0.01,0.01,0.01,0.01,0.06,0.13,...,0.07,0.12,0.87,0.16,0.38,0.65,1.28,1.14,2.11,1.56
2,Afghanistan,Nutrient potash K2O (total),kg/ha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.02,0.01,0.00,0.00,0.01,0.00,0.00
3,Albania,Nutrient nitrogen N (total),kg/ha,6.65,4.11,4.04,3.99,3.83,5.56,12.59,...,48.76,44.96,53.01,50.21,44.11,44.13,52.87,60.98,56.70,35.59
4,Albania,Nutrient phosphate P2O5 (total),kg/ha,5.08,5.13,5.05,6.99,9.58,9.26,12.59,...,29.96,31.08,33.54,31.85,32.90,32.91,41.27,49.10,30.77,19.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,Net Food Importing Developing Countries,Nutrient phosphate P2O5 (total),kg/ha,1.26,1.37,1.46,1.53,1.63,1.76,1.94,...,7.91,9.11,10.00,10.06,10.14,10.59,11.88,12.14,12.30,12.73
596,Net Food Importing Developing Countries,Nutrient potash K2O (total),kg/ha,1.22,1.38,1.60,1.68,1.79,1.62,1.43,...,2.74,3.31,4.21,3.68,4.07,4.31,4.83,4.66,5.42,5.83
597,OECD,Nutrient nitrogen N (total),kg/ha,19.26,21.63,23.60,25.23,28.04,31.18,34.89,...,65.51,70.15,72.47,75.85,77.42,75.93,75.11,77.17,76.23,75.10
598,OECD,Nutrient phosphate P2O5 (total),kg/ha,19.31,20.38,22.12,24.13,25.52,27.37,29.02,...,19.03,22.66,23.65,25.09,25.60,25.63,25.44,25.87,26.93,26.60
599,OECD,Nutrient potash K2O (total),kg/ha,16.76,17.83,18.75,19.53,20.77,21.98,24.18,...,16.27,19.85,20.91,21.50,22.45,22.79,22.18,22.79,23.68,23.10

In [4]:
year_list = data.columns.tolist()
year_list = year_list[42:]
year_list

['Y2000',
 'Y2001',
 'Y2002',
 'Y2003',
 'Y2004',
 'Y2005',
 'Y2006',
 'Y2007',
 'Y2008',
 'Y2009',
 'Y2010',
 'Y2011',
 'Y2012',
 'Y2013',
 'Y2014',
 'Y2015',
 'Y2016',
 'Y2017',
 'Y2018']

In [5]:
data.groupby(['Area']).sum()

,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,Y1969,Y1970,...,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018
Area,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.14,0.14,0.14,0.14,0.14,0.19,1.26,1.88,2.13,2.42,...,1.86,1.75,3.77,2.34,4.80,9.99,3.94,13.37,19.91,7.45
Africa,5.04,5.43,5.97,6.44,6.77,7.29,7.49,8.11,8.03,9.09,...,18.20,20.27,20.44,19.20,19.30,20.76,21.77,22.17,25.35,25.13
Albania,13.15,10.68,10.71,12.78,15.33,17.60,27.88,64.91,61.54,73.62,...,79.08,76.47,87.08,82.79,78.15,78.18,95.29,111.22,88.39,58.49
Algeria,6.93,7.96,7.78,7.77,5.76,7.57,7.51,10.02,10.32,16.32,...,12.74,14.09,14.05,18.99,19.95,22.57,20.75,18.50,18.35,18.27
Americas,27.47,30.72,34.04,36.23,39.98,45.12,49.72,51.02,51.19,54.89,...,91.85,107.52,123.58,124.34,129.88,131.51,121.21,128.29,134.05,135.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
World,23.13,25.04,27.64,30.72,34.23,37.98,40.68,42.97,44.99,49.16,...,103.65,114.31,120.28,116.93,119.27,122.24,120.17,122.20,122.65,120.67
Yemen,0.00,0.00,0.00,0.00,0.00,0.01,0.01,0.02,0.38,0.07,...,9.71,15.91,9.91,12.86,24.34,17.82,1.44,15.01,10.67,3.03
Yugoslav SFR,31.32,38.88,53.13,55.22,54.80,60.68,62.47,66.86,70.84,76.95,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Zambia,3.99,3.33,3.54,4.05,4.22,4.57,5.51,7.04,5.98,13.05,...,25.53,28.87,45.69,37.28,48.49,49.99,55.39,63.39,71.37,52.02
Zimbabwe,20.85,19.22,23.06,32.32,34.64,33.65,36.85,35.55,39.49,43.65,...,28.09,33.26,25.93,17.81,18.51,23.86,22.34,31.71,37.41,37.41

In [9]:
from IPython.display import display
all_data = []
for location in data['Area'].unique():
    print(location)
    for item in data['Element'].unique():
        one_row = data[
            (data['Area'] == location) &
            (data['Element'] == item) 
        ]
        for year in year_list:
            one_data = []
            one_data.append(location)
            one_data.append(item)
            one_data.append(year)
            try:
                one_data.append(one_row[year].values[0])
            
            except:
                 one_data.append(np.nan)
            all_data.append(one_data)
all_data = pd.DataFrame(all_data)
all_data.columns = ['Area','Item','Year','Value']
all_data

Afghanistan
Albania
Algeria
American Samoa
Andorra
Angola
Anguilla
Antigua and Barbuda
Argentina
Armenia
Aruba
Australia
Austria
Azerbaijan
Bahamas
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belgium-Luxembourg
Belize
Benin
Bermuda
Bhutan
Bolivia (Plurinational State of)
Bonaire, Sint Eustatius and Saba
Bosnia and Herzegovina
Botswana
Brazil
British Virgin Islands
Brunei Darussalam
Bulgaria
Burkina Faso
Burundi
Cabo Verde
Cambodia
Cameroon
Canada
Cayman Islands
Central African Republic
Chad
Channel Islands
Chile
China
China, Hong Kong SAR
China, Macao SAR
China, mainland
China, Taiwan Province of
Colombia
Comoros
Congo
Cook Islands
Costa Rica
Côte d'Ivoire
Croatia
Cuba
Curaçao
Cyprus
Czechia
Czechoslovakia
Democratic People's Republic of Korea
Democratic Republic of the Congo
Denmark
Djibouti
Dominica
Dominican Republic
Ecuador
Egypt
El Salvador
Equatorial Guinea
Eritrea
Estonia
Eswatini
Ethiopia
Ethiopia PDR
Falkland Islands (Malvinas)
Faroe Islands
Fiji
Finland
France
French Guiana
French Polynesia
Gabon
Gambia
Georgia
Germany
Ghana
Gibraltar
Greece
Greenland
Grenada
Guadeloupe
Guam
Guatemala
Guinea
Guinea-Bissau
Guyana
Haiti
Holy See
Honduras
Hungary
Iceland
India
Indonesia
Iran (Islamic Republic of)
Iraq
Ireland
Isle of Man
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kiribati
Kuwait
Kyrgyzstan
Lao People's Democratic Republic
Latvia
Lebanon
Lesotho
Liberia
Libya
Liechtenstein
Lithuania
Luxembourg
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Marshall Islands
Martinique
Mauritania
Mauritius
Mayotte
Mexico
Micronesia (Federated States of)
Monaco
Mongolia
Montenegro
Montserrat
Morocco
Mozambique
Myanmar
Namibia
Nauru
Nepal
Netherlands
Netherlands Antilles (former)
New Caledonia
New Zealand
Nicaragua
Niger
Nigeria
Niue
North Macedonia
Northern Mariana Islands
Norway
Oman
Pacific Islands Trust Territory
Pakistan
Palau
Palestine
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Portugal
Puerto Rico
Qatar
Republic of Korea
Republic of Moldova
Réunion
Romania
Russian Federation
Rwanda
Saint Barthélemy
Saint Helena, Ascension and Tristan da Cunha
Saint Kitts and Nevis
Saint Lucia
Saint Pierre and Miquelon
Saint Vincent and the Grenadines
Saint-Martin (French Part)
Samoa
San Marino
Sao Tome and Principe
Saudi Arabia
Senegal
Serbia
Serbia and Montenegro
Seychelles
Sierra Leone
Singapore
Sint Maarten (Dutch Part)
Slovakia
Slovenia
Solomon Islands
Somalia
South Africa
South Sudan
Spain
Sri Lanka
Sudan
Sudan (former)
Suriname
Sweden
Switzerland
Syrian Arab Republic
Tajikistan
Thailand
Timor-Leste
Togo
Tokelau
Tonga
Trinidad and Tobago
Tunisia
Turkey
Turkmenistan
Turks and Caicos Islands
Tuvalu
Uganda
Ukraine
United Arab Emirates
United Kingdom
United Republic of Tanzania
United States of America
United States Virgin Islands
Uruguay
USSR
Uzbekistan
Vanuatu
Venezuela (Bolivarian Republic of)
Viet Nam
Wallis and Futuna Islands
Western Sahara
Yemen
Yugoslav SFR
Zambia
Zimbabwe
World
Africa
Eastern Africa
Middle Africa
Northern Africa
Southern Africa
Western Africa
Americas
Northern America
Central America
Caribbean
South America
Asia
Central Asia
Eastern Asia
Southern Asia
South-Eastern Asia
Western Asia
Europe
Eastern Europe
Northern Europe
Southern Europe
Western Europe
Oceania
Australia and New Zealand
Melanesia
Micronesia
Polynesia
European Union
Least Developed Countries
Land Locked Developing Countries
Small Island Developing States
Low Income Food Deficit Countries
Net Food Importing Developing Countries

,Area,Item,Year,Value
0,Afghanistan,Total Population - Both sexes,Y2000,20779.953
1,Afghanistan,Total Population - Both sexes,Y2001,21606.988
2,Afghanistan,Total Population - Both sexes,Y2002,22600.770
3,Afghanistan,Total Population - Both sexes,Y2003,23680.871
4,Afghanistan,Total Population - Both sexes,Y2004,24726.684
...,...,...,...,...
140890,Net Food Importing Developing Countries,Urban population,Y2096,NaN
140891,Net Food Importing Developing Countries,Urban population,Y2097,NaN
140892,Net Food Importing Developing Countries,Urban population,Y2098,NaN
140893,Net Food Importing Developing Countries,Urban population,Y2099,NaN
140894,Net Food Importing Developing Countries,Urban population,Y2100,NaN

In [10]:
all_data['Value'] = all_data['Value'] * 1000
all_data

,Area,Item,Year,Value
0,Afghanistan,Total Population - Both sexes,Y2000,20779953.0
1,Afghanistan,Total Population - Both sexes,Y2001,21606988.0
2,Afghanistan,Total Population - Both sexes,Y2002,22600770.0
3,Afghanistan,Total Population - Both sexes,Y2003,23680871.0
4,Afghanistan,Total Population - Both sexes,Y2004,24726684.0
...,...,...,...,...
140890,Net Food Importing Developing Countries,Urban population,Y2096,NaN
140891,Net Food Importing Developing Countries,Urban population,Y2097,NaN
140892,Net Food Importing Developing Countries,Urban population,Y2098,NaN
140893,Net Food Importing Developing Countries,Urban population,Y2099,NaN
140894,Net Food Importing Developing Countries,Urban population,Y2100,NaN

In [11]:
all_data.to_csv('result.csv')