In [8]:
import pandas as pd 
data = pd.read_excel('model data china.xlsx')
data.set_index('Day',inplace=True)
data.drop(['Year','Month'],axis=1 , inplace=True)
data

,C,I,G,NX,new_cases,new_deaths,America_GDP,GDP
Day,,,,,,,,
2015-01-05,-464.579858,451198098,16203,601.0,0,0,268000000000,264000000000
2015-01-06,-469.069098,420962185,16203,601.0,0,0,265000000000,271000000000
2015-01-07,-473.931087,320191232,16203,601.0,0,0,268000000000,272000000000
2015-01-08,-474.982208,295003045,16203,601.0,0,0,267000000000,265000000000
2015-01-09,-476.512447,349982672,16203,601.0,0,0,265000000000,264000000000
...,...,...,...,...,...,...,...,...
2020-09-24,983.609897,112593683,14234,370.0,15,0,265000000000,398000000000
2020-09-25,989.610921,93015155,14234,370.0,17,1,271000000000,402000000000
2020-09-28,1015.878191,85048389,14234,370.0,22,0,265000000000,395000000000
2020-09-29,1007.288339,85993858,14234,370.0,23,0,266000000000,404000000000
2020-09-30,1023.367960,89081200,14234,370.0,17,0,262000000000,404000000000

In [9]:
corr = data.corr()
corr.to_csv('china corr.csv')

In [10]:
corr

,C,I,G,NX,new_cases,new_deaths,America_GDP,GDP
C,1.000000,-0.186326,0.063089,-0.109576,0.099688,0.085857,0.158960,0.774307
I,-0.186326,1.000000,-0.019197,0.058779,0.015014,0.010167,-0.151249,-0.326539
G,0.063089,-0.019197,1.000000,0.265056,-0.222522,-0.095868,-0.249505,0.100589
NX,-0.109576,0.058779,0.265056,1.000000,-0.167947,-0.079713,-0.475474,-0.076369
new_cases,0.099688,0.015014,-0.222522,-0.167947,1.000000,0.293079,0.163853,0.009707
new_deaths,0.085857,0.010167,-0.095868,-0.079713,0.293079,1.000000,0.001433,0.033375
America_GDP,0.158960,-0.151249,-0.249505,-0.475474,0.163853,0.001433,1.000000,0.311650
GDP,0.774307,-0.326539,0.100589,-0.076369,0.009707,0.033375,0.311650,1.000000