In [1]:
import pandas as pd 
import numpy as np 
from IPython.display import display
data = pd.read_csv('消费者价格指数old.csv',encoding='unicode_escape')
data

,Area,Item,Year,Month,Value
0,Afghanistan,"Consumer Prices, Food Indices (2015 = 100)",2000,January,32.168510
1,Afghanistan,"Consumer Prices, Food Indices (2015 = 100)",2001,January,34.961716
2,Afghanistan,"Consumer Prices, Food Indices (2015 = 100)",2002,January,37.997457
3,Afghanistan,"Consumer Prices, Food Indices (2015 = 100)",2003,January,41.296793
4,Afghanistan,"Consumer Prices, Food Indices (2015 = 100)",2004,January,44.882612
...,...,...,...,...,...
170095,Oceania,Food price inflation,2016,December,1.349639
170096,Oceania,Food price inflation,2017,December,-0.728538
170097,Oceania,Food price inflation,2018,December,1.908439
170098,Oceania,Food price inflation,2019,December,5.880138
170099,Oceania,Food price inflation,2020,December,NaN

In [2]:
one_data = data.groupby(['Area','Item','Year']).mean()
data = one_data.reset_index()
data

,Area,Item,Year,Value
0,Afghanistan,"Consumer Prices, Food Indices (2015 = 100)",2000,34.037261
1,Afghanistan,"Consumer Prices, Food Indices (2015 = 100)",2001,36.992813
2,Afghanistan,"Consumer Prices, Food Indices (2015 = 100)",2002,40.204987
3,Afghanistan,"Consumer Prices, Food Indices (2015 = 100)",2003,43.696067
4,Afghanistan,"Consumer Prices, Food Indices (2015 = 100)",2004,47.490269
...,...,...,...,...
14170,Ã land Islands,Food price inflation,2016,-0.010609
14171,Ã land Islands,Food price inflation,2017,0.005693
14172,Ã land Islands,Food price inflation,2018,0.016374
14173,Ã land Islands,Food price inflation,2019,0.017857
14174,Ã land Islands,Food price inflation,2020,0.006594

In [3]:
all_ = pd.DataFrame()
for i in data['Item'].unique():
    one_data = data[data['Item']==i]
    one_data.drop('Item',axis=1,inplace=True)
    one_data.columns = ['Area','Year',i]
    one_data.set_index(['Area','Year'],inplace=True)
    display(one_data)
    all_ = pd.concat([all_,one_data],axis=1)
all_.to_csv('消费者价格指数.csv')

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                     Consumer Prices, Food Indices (2015 = 100)
Area           Year
Afghanistan    2000                                   34.037261
               2001                                   36.992813
               2002                                   40.204987
               2003                                   43.696067
               2004                                   47.490269
...                                                         ...
Ã
land Islands 2016                                   98.937319
               2017                                   99.498841
               2018                                  101.125068
               2019                                  102.926315
               2020                                  103.538798

[4683 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                     Consumer Prices, General Indices (2015 = 100)
Area           Year
Afghanistan    2000                                      39.513817
               2001                                      41.891307
               2002                                      44.400101
               2003                                      47.081529
               2004                                      48.671697
...                                                            ...
Ã
land Islands 2016                                     100.555142
               2017                                     102.312938
               2018                                     103.617852
               2019                                     104.362421
               2020                                     103.894795

[4809 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                     Food price inflation
Area           Year
Afghanistan    2000                   NaN
               2001              0.086833
               2002              0.086832
               2003              0.086832
               2004              0.086831
...                                   ...
Ã
land Islands 2016             -0.010609
               2017              0.005693
               2018              0.016374
               2019              0.017857
               2020              0.006594

[4683 rows x 1 columns]