In [2]:
import pandas as pd 
import numpy as np
from IPython.display import display
data = pd.read_csv('Emissions_Agriculture_Energy_E_All_Data_NOFLAG.csv',encoding='unicode_escape')
data

,Area,Item,Element,Unit,Y1970,Y1971,Y1972,Y1973,Y1974,Y1975,...,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018
0,Afghanistan,Gas-Diesel oil,Implied emission factor for CH4,kg/TJ,4.1500,4.1500,4.1500,4.1500,4.1500,4.1500,...,4.1500,4.1500,4.1500,4.1500,4.1500,4.1500,4.1500,4.1500,4.1500,4.1500
1,Afghanistan,Gas-Diesel oil,Implied emission factor for N2O,kg/TJ,28.6000,28.6000,28.6000,28.6000,28.6000,28.6000,...,28.6000,28.6000,28.6000,28.6000,28.6000,28.6000,28.6000,28.6000,28.6000,28.6000
2,Afghanistan,Gas-Diesel oil,Implied emission factor for CO2,kg/TJ,74100.0000,74100.0000,74100.0000,74100.0000,74100.0000,74100.0000,...,74100.0000,74100.0000,74100.0000,74100.0000,74100.0000,74100.0000,74100.0000,74100.0000,74100.0000,74100.0000
3,Afghanistan,Motor Gasoline,Implied emission factor for CH4,kg/TJ,80.0000,80.0000,80.0000,80.0000,80.0000,80.0000,...,80.0000,80.0000,80.0000,80.0000,80.0000,80.0000,80.0000,80.0000,80.0000,80.0000
4,Afghanistan,Motor Gasoline,Implied emission factor for N2O,kg/TJ,2.0000,2.0000,2.0000,2.0000,2.0000,2.0000,...,2.0000,2.0000,2.0000,2.0000,2.0000,2.0000,2.0000,2.0000,2.0000,2.0000
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
14830,OECD,Total Energy (excl. electricity),Emissions (CO2eq) from CH4 (Energy),gigagrams,517.7121,507.3207,478.0845,504.3493,471.1394,446.9994,...,766.8296,783.4089,917.4825,900.0252,901.3768,866.5675,881.3360,853.2841,905.3638,905.3638
14831,OECD,Total Energy (excl. electricity),Emissions (N2O) (Energy),gigagrams,22.0460,22.4082,24.0666,28.2280,27.4987,27.9672,...,54.0661,56.4071,53.4112,50.2846,51.1323,50.9235,50.5055,50.3923,50.2168,50.2168
14832,OECD,Total Energy (excl. electricity),Emissions (CO2eq) from N2O (Energy),gigagrams,6834.2472,6946.5421,7460.6426,8750.6933,8524.6002,8669.8180,...,16760.5005,17486.2000,16557.4706,15588.2216,15851.0116,15786.2834,15656.7101,15621.6003,15567.1940,15567.1940
14833,OECD,Total Energy (excl. electricity),Emissions (CO2) (Energy),gigagrams,81009.2794,82256.1246,85092.5611,98523.4728,94787.0001,94646.8224,...,181903.2343,185449.6671,182728.1530,174904.9037,178548.8779,174533.3179,173621.4829,172231.2394,174799.0930,174799.0930
14834,OECD,Total Energy (excl. electricity),Emissions (CO2eq) (Energy),gigagrams,88361.2387,89709.9874,93031.2882,107778.5154,103782.7398,103763.6398,...,199430.5644,203719.2760,200203.1061,191393.1504,195301.2663,191186.1688,190159.5290,188706.1239,191271.6507,191271.6507

In [5]:
year_list = data.columns.tolist()
year_list = year_list[34:]
year_list

['Y2000',
 'Y2001',
 'Y2002',
 'Y2003',
 'Y2004',
 'Y2005',
 'Y2006',
 'Y2007',
 'Y2008',
 'Y2009',
 'Y2010',
 'Y2011',
 'Y2012',
 'Y2013',
 'Y2014',
 'Y2015',
 'Y2016',
 'Y2017',
 'Y2018']

In [ ]:
all_data = []
for location in data['Area'].unique():
    print(location)
#     for item in data['Item'].unique():
    for element in data['Element'].unique():
        one_row = data[
            (data['Area'] == location) &
            (data['Element'] == element) 
        ]
        for year in year_list:
            one_data = []
            one_data.append(location)
            one_data.append(element)
            one_data.append(year)
            try:
#                     value = one_row[year].values[0]
#                     if np.isnan(value) == False:
                one_data.append(one_row[year].values[0])
            except:
                 one_data.append(np.nan)
            all_data.append(one_data)
all_data = pd.DataFrame(all_data)
all_data.columns = ['Area','Element','Year','Value']
all_data

Afghanistan
Albania
Algeria
Angola
Argentina
Armenia
Australia
Austria
Azerbaijan
Bahrain
Bangladesh
Barbados
Belarus
Belgium
Belgium-Luxembourg
Belize
Benin
Bhutan
Bolivia (Plurinational State of)
Bosnia and Herzegovina
Botswana
Brazil
Brunei Darussalam
Bulgaria
Burkina Faso
Cabo Verde
Cambodia
Cameroon
Canada
Chile
China
China, Hong Kong SAR
China, Macao SAR
China, mainland
China, Taiwan Province of
Colombia
Congo
Costa Rica
Côte d'Ivoire
Croatia
Cuba
Cyprus
Czechia
Czechoslovakia
Democratic People's Republic of Korea
Democratic Republic of the Congo
Denmark
Dominica
Dominican Republic
Ecuador
Egypt
El Salvador
Eritrea
Estonia
Eswatini
Ethiopia
Ethiopia PDR
Falkland Islands (Malvinas)
Faroe Islands
Fiji
Finland
France
French Guyana
Gabon
Georgia
Germany
Ghana
Gibraltar
Greece
Greenland
Grenada
Guadeloupe
Guatemala
Guyana
Haiti
Honduras
Hungary
Iceland
India
Indonesia
Iran (Islamic Republic of)
Iraq
Ireland
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kiribati
Kuwait
Kyrgyzstan
Lao People's Democratic Republic
Latvia
Lebanon
Lesotho
Libya
Lithuania
Luxembourg
Madagascar
Malawi
Malaysia
Malta
Martinique
Mauritania
Mauritius
Mexico
Mongolia
Montenegro
Morocco
Mozambique
Myanmar
Namibia
Nepal
Netherlands
Netherlands Antilles (former)
New Caledonia
New Zealand
Nicaragua
Niger
Nigeria
Niue
North Macedonia
Norway
Oman
Pakistan
Palestine
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Portugal
Puerto Rico
Qatar
Republic of Korea
Republic of Moldova
Réunion
Romania

In [5]:
all_data

Empty DataFrame
Columns: []
Index: []

In [10]:
all_data1 = all_data
all_data1.drop('Element',axis=1,inplace=True)
all_data1.columns = ['Area','Item','Year','Area harvested(ha)']
all_data1.set_index(['Area','Item','Year'])
all_data1

,Area,Item,Year,Value
0,Afghanistan,Total Population - Both sexes,Y2000,20779953.0
1,Afghanistan,Total Population - Both sexes,Y2001,21606988.0
2,Afghanistan,Total Population - Both sexes,Y2002,22600770.0
3,Afghanistan,Total Population - Both sexes,Y2003,23680871.0
4,Afghanistan,Total Population - Both sexes,Y2004,24726684.0
...,...,...,...,...
140890,Net Food Importing Developing Countries,Urban population,Y2096,NaN
140891,Net Food Importing Developing Countries,Urban population,Y2097,NaN
140892,Net Food Importing Developing Countries,Urban population,Y2098,NaN
140893,Net Food Importing Developing Countries,Urban population,Y2099,NaN
140894,Net Food Importing Developing Countries,Urban population,Y2100,NaN

In [11]:
all_data.to_csv('result.csv')