In [1]:
import pandas as pd 
import numpy as np
from IPython.display import display
data = pd.read_csv('Trade_Crops_Livestock_E_All_Data_NOFLAG.csv',encoding='unicode_escape')
data

,Area,Item,Element,Unit,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,Afghanistan,Alfalfa meal and pellets,Export Quantity,tonnes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,49.0
1,Afghanistan,Alfalfa meal and pellets,Export Value,1000 US$,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,18.0
2,Afghanistan,Almonds shelled,Import Quantity,tonnes,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,167.0,181.0,845.0,1786.0,597.0,3520.0
3,Afghanistan,Almonds shelled,Import Value,1000 US$,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,1116.0,1377.0,4988.0,11047.0,1242.0,25540.0
4,Afghanistan,Almonds shelled,Export Quantity,tonnes,0.0,0.0,0.0,0.0,0.0,0.0,...,1308.0,2262.0,1125.0,2381.0,2716.0,2342.0,1691.0,3335.0,3339.0,6848.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
379764,Net Food Importing Developing Countries (exclu...,Non-edible Fats and Oils,Export Value,1000 US$,NaN,NaN,NaN,NaN,NaN,NaN,...,14824.0,28847.0,22117.0,44777.0,52284.0,48944.0,46710.0,62079.0,55242.0,75109.0
379765,Net Food Importing Developing Countries (exclu...,Tobacco,Import Quantity,tonnes,NaN,NaN,NaN,NaN,NaN,NaN,...,140074.0,163579.0,142872.0,186974.0,265554.0,253894.0,251928.0,284372.0,365159.0,422525.0
379766,Net Food Importing Developing Countries (exclu...,Tobacco,Import Value,1000 US$,NaN,NaN,NaN,NaN,NaN,NaN,...,940355.0,1296743.0,1085021.0,1498862.0,2233504.0,1781637.0,1753536.0,2458043.0,3351226.0,3595187.0
379767,Net Food Importing Developing Countries (exclu...,Tobacco,Export Quantity,tonnes,NaN,NaN,NaN,NaN,NaN,NaN,...,252349.0,302665.0,186407.0,304578.0,327857.0,270492.0,316575.0,381650.0,406012.0,360466.0
379768,Net Food Importing Developing Countries (exclu...,Tobacco,Export Value,1000 US$,NaN,NaN,NaN,NaN,NaN,NaN,...,1198017.0,1080527.0,771640.0,1251996.0,1794688.0,1475561.0,1769202.0,2747702.0,2713760.0,2699742.0

In [3]:
year_list = data.columns.tolist()
year_list = year_list[43:]
year_list

['Y2000',
 'Y2001',
 'Y2002',
 'Y2003',
 'Y2004',
 'Y2005',
 'Y2006',
 'Y2007',
 'Y2008',
 'Y2009',
 'Y2010',
 'Y2011',
 'Y2012',
 'Y2013',
 'Y2014',
 'Y2015',
 'Y2016',
 'Y2017',
 'Y2018',
 'Y2019']

In [11]:
all_data = []
for location in data['Area'].unique():
    print(location)
    for item in data['Item'].unique():
        for element in data['Element'].unique():
            one_row = data[
                (data['Area'] == location) &
                (data['Item'] == item) &
                (data['Element'] == element) 
            ]
            for year in year_list:
                one_data = []
                one_data.append(location)
                one_data.append(item)
                one_data.append(element)
                one_data.append(year)
                try:
                    value = one_row[year].values[0]
                    if np.isnan(value) == False:
                        one_data.append(one_row[year].values[0])
                except:
                     continue
all_data = pd.DataFrame(all_data)
all_data.columns = ['Area','Item','Element','Year','Value']
all_data

Afghanistan
Albania

KeyboardInterrupt:

In [10]:
all_data['Value'] = all_data['Value'] * 1000
all_data

,Area,Item,Year,Value
0,Afghanistan,Total Population - Both sexes,Y2000,20779953.0
1,Afghanistan,Total Population - Both sexes,Y2001,21606988.0
2,Afghanistan,Total Population - Both sexes,Y2002,22600770.0
3,Afghanistan,Total Population - Both sexes,Y2003,23680871.0
4,Afghanistan,Total Population - Both sexes,Y2004,24726684.0
...,...,...,...,...
140890,Net Food Importing Developing Countries,Urban population,Y2096,NaN
140891,Net Food Importing Developing Countries,Urban population,Y2097,NaN
140892,Net Food Importing Developing Countries,Urban population,Y2098,NaN
140893,Net Food Importing Developing Countries,Urban population,Y2099,NaN
140894,Net Food Importing Developing Countries,Urban population,Y2100,NaN

In [11]:
all_data.to_csv('result.csv')