In [2]:
import pandas as pd 
import numpy as np 
from IPython.display import display
data = pd.read_csv('WGIData.csv')
data

,Area,Indicator Name,1996,1998,2000,2002,2003,2004,2005,2006,...,2010,2011,2012,2013,2014,2015,2016,2017,2018,2019
0,Afghanistan,Control of Corruption: Estimate,-1.291705,-1.180848,-1.295380,-1.263366,-1.351042,-1.345281,-1.443609,-1.432890,...,-1.635723,-1.579179,-1.419888,-1.436761,-1.354784,-1.341994,-1.526352,-1.517361,-1.496834,-1.401076
1,Afghanistan,Control of Corruption: Number of Sources,2.000000,2.000000,2.000000,2.000000,3.000000,5.000000,5.000000,7.000000,...,9.000000,9.000000,10.000000,11.000000,11.000000,11.000000,10.000000,10.000000,10.000000,10.000000
2,Afghanistan,Control of Corruption: Percentile Rank,4.301075,9.793815,5.076142,5.050505,5.050505,5.853659,2.439024,3.902439,...,0.952381,0.947867,2.369668,1.895735,5.288462,6.250000,3.365385,3.846154,4.326923,6.730769
3,Afghanistan,"Control of Corruption: Percentile Rank, Lower ...",0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.480769,1.442308,0.000000,0.000000,0.000000,1.923077
4,Afghanistan,"Control of Corruption: Percentile Rank, Upper ...",27.419360,31.443300,29.441620,31.818180,18.181820,14.146340,13.170730,12.195120,...,3.809524,5.687204,11.848340,9.952606,12.500000,12.500000,9.615385,9.615385,9.615385,12.019230
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
7699,Zimbabwe,Voice and Accountability: Number of Sources,6.000000,6.000000,8.000000,11.000000,12.000000,13.000000,14.000000,17.000000,...,17.000000,18.000000,19.000000,19.000000,14.000000,15.000000,15.000000,15.000000,15.000000,14.000000
7700,Zimbabwe,Voice and Accountability: Percentile Rank,30.500000,25.870650,15.920400,10.945270,9.950249,6.250000,5.288462,7.211538,...,8.056872,7.981221,7.511737,9.859155,13.793100,15.763550,14.778330,14.778330,17.241380,16.748770
7701,Zimbabwe,"Voice and Accountability: Percentile Rank, Low...",18.500000,13.432840,9.452736,5.472637,3.980099,2.403846,1.923077,6.730769,...,5.687204,5.164319,3.755868,5.164319,7.389163,9.852217,10.344830,10.837440,12.315270,12.807880
7702,Zimbabwe,"Voice and Accountability: Percentile Rank, Upp...",41.000000,34.825870,25.373130,15.920400,12.935320,10.096150,8.173077,8.653846,...,12.796210,12.676060,12.206570,14.553990,20.197040,22.167490,22.167490,21.674880,22.167490,22.167490
7703,Zimbabwe,Voice and Accountability: Standard Error,0.208810,0.214446,0.192938,0.156958,0.148406,0.144486,0.139619,0.110492,...,0.110216,0.110784,0.107736,0.103857,0.120462,0.121644,0.119457,0.119724,0.124262,0.118219

In [3]:
year_list = data.columns.tolist()
year_list = year_list[3:]
year_list

['1998',
 '2000',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019']

In [8]:
all_ = pd.DataFrame()
for i in data['Item'].unique():
    one_data = data[data['Item']==i]
    one_data.drop('Item',axis=1,inplace=True)
    one_data.columns = ['Area','Year',i]
    one_data.set_index(['Area','Year'],inplace=True)
    display(one_data)
    all_ = pd.concat([all_,one_data],axis=1)
all_.to_csv('世界人口.csv')

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                                              Total Population - Both sexes
Area                                    Year
Afghanistan                             2000                   2.077995e+07
                                        2001                   2.160699e+07
                                        2002                   2.260077e+07
                                        2003                   2.368087e+07
                                        2004                   2.472668e+07
...                                                                     ...
Net Food Importing Developing Countries 2096                   4.056499e+09
                                        2097                   4.073444e+09
                                        2098                   4.089867e+09
                                        2099                   4.105769e+09
                                        2100                   4.121152e+09

[28179 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                                              Total Population - Male
Area                                    Year
Afghanistan                             2000             1.068951e+07
                                        2001             1.111775e+07
                                        2002             1.164211e+07
                                        2003             1.221463e+07
                                        2004             1.276373e+07
...                                                               ...
Net Food Importing Developing Countries 2096             2.014292e+09
                                        2097             2.022516e+09
                                        2098             2.030489e+09
                                        2099             2.038214e+09
                                        2100             2.045692e+09

[28179 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                                              Total Population - Female
Area                                    Year
Afghanistan                             2000               1.009045e+07
                                        2001               1.048924e+07
                                        2002               1.095867e+07
                                        2003               1.146624e+07
                                        2004               1.196296e+07
...                                                                 ...
Net Food Importing Developing Countries 2096               2.042090e+09
                                        2097               2.050812e+09
                                        2098               2.059262e+09
                                        2099               2.067440e+09
                                        2100               2.075345e+09

[28179 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                                              Rural population
Area                                    Year
Afghanistan                             2000        15657474.0
                                        2001        16318324.0
                                        2002        17086910.0
                                        2003        17909063.0
                                        2004        18692107.0
...                                                        ...
Net Food Importing Developing Countries 2096               NaN
                                        2097               NaN
                                        2098               NaN
                                        2099               NaN
                                        2100               NaN

[28179 rows x 1 columns]

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                                              Urban population
Area                                    Year
Afghanistan                             2000         4436282.0
                                        2001         4648139.0
                                        2002         4893013.0
                                        2003         5155788.0
                                        2004         5426872.0
...                                                        ...
Net Food Importing Developing Countries 2096               NaN
                                        2097               NaN
                                        2098               NaN
                                        2099               NaN
                                        2100               NaN

[28179 rows x 1 columns]