In [1]:
import pandas as pd 
import numpy as np
from IPython.display import display
data = pd.read_csv('Production_Crops_E_All_Data_NOFLAG.csv',encoding='unicode_escape')
data

,Area,Item,Element,Unit,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,...,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018,Y2019
0,Afghanistan,"Almonds, with shell",Area harvested,ha,NaN,NaN,NaN,NaN,NaN,NaN,...,11210.0,13469.0,13490.0,14114.0,13703.0,14676.0,19481.0,19793.0,20053.0,29203.0
1,Afghanistan,"Almonds, with shell",Yield,hg/ha,NaN,NaN,NaN,NaN,NaN,NaN,...,49955.0,45000.0,45960.0,29910.0,19996.0,16521.0,16859.0,13788.0,17161.0,13083.0
2,Afghanistan,"Almonds, with shell",Production,tonnes,NaN,NaN,NaN,NaN,NaN,NaN,...,56000.0,60611.0,62000.0,42215.0,27400.0,24246.0,32843.0,27291.0,34413.0,38205.0
3,Afghanistan,"Anise, badian, fennel, coriander",Area harvested,ha,NaN,NaN,NaN,NaN,NaN,NaN,...,17000.0,19500.0,18500.0,18500.0,30000.0,25000.0,25787.0,28398.0,26725.0,27562.0
4,Afghanistan,"Anise, badian, fennel, coriander",Yield,hg/ha,NaN,NaN,NaN,NaN,NaN,NaN,...,6000.0,6414.0,6757.0,6757.0,7167.0,7200.0,6982.0,6863.0,6898.0,6903.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
51505,Net Food Importing Developing Countries,"Treenuts, Total",Yield,hg/ha,6118.0,6318.0,6618.0,6492.0,6417.0,6187.0,...,5384.0,5401.0,5385.0,5169.0,5197.0,5262.0,5608.0,5822.0,5269.0,5333.0
51506,Net Food Importing Developing Countries,"Treenuts, Total",Production,tonnes,255724.0,295318.0,315667.0,349663.0,341957.0,336409.0,...,1365370.0,1613861.0,1655268.0,1765728.0,1854474.0,2140896.0,1981575.0,2484941.0,2760814.0,2709134.0
51507,Net Food Importing Developing Countries,Vegetables Primary,Area harvested,ha,1877800.0,1925219.0,1992435.0,2054949.0,2039738.0,2138112.0,...,6196117.0,6229214.0,6260139.0,6372882.0,6607917.0,6929207.0,7002320.0,7072606.0,7295638.0,7519922.0
51508,Net Food Importing Developing Countries,Vegetables Primary,Yield,hg/ha,66297.0,67612.0,68080.0,69544.0,71377.0,72030.0,...,115525.0,116656.0,118214.0,116893.0,118702.0,118068.0,117608.0,118246.0,117924.0,117384.0
51509,Net Food Importing Developing Countries,Vegetables Primary,Production,tonnes,12449173.0,13016875.0,13564405.0,14290967.0,14559064.0,15400719.0,...,71580474.0,72667621.0,74003402.0,74494686.0,78437426.0,81811964.0,82352673.0,83630787.0,86033417.0,88272042.0

In [3]:
year_list = data.columns.tolist()
year_list = year_list[43:]
year_list

['Y2000',
 'Y2001',
 'Y2002',
 'Y2003',
 'Y2004',
 'Y2005',
 'Y2006',
 'Y2007',
 'Y2008',
 'Y2009',
 'Y2010',
 'Y2011',
 'Y2012',
 'Y2013',
 'Y2014',
 'Y2015',
 'Y2016',
 'Y2017',
 'Y2018',
 'Y2019']

In [11]:
all_data = []
for location in data['Area'].unique():
    print(location)
    for item in data['Item'].unique():
        for element in data['Element'].unique():
            one_row = data[
                (data['Area'] == location) &
                (data['Item'] == item) &
                (data['Element'] == element) 
            ]
            for year in year_list:
                one_data = []
                one_data.append(location)
                one_data.append(item)
                one_data.append(element)
                one_data.append(year)
                try:
                    value = one_row[year].values[0]
                    if np.isnan(value) == False:
                        one_data.append(one_row[year].values[0])
                except:
                     continue
all_data = pd.DataFrame(all_data)
all_data.columns = ['Area','Item','Element','Year','Value']
all_data

Afghanistan
Albania

KeyboardInterrupt:

In [10]:
all_data['Value'] = all_data['Value'] * 1000
all_data

,Area,Item,Year,Value
0,Afghanistan,Total Population - Both sexes,Y2000,20779953.0
1,Afghanistan,Total Population - Both sexes,Y2001,21606988.0
2,Afghanistan,Total Population - Both sexes,Y2002,22600770.0
3,Afghanistan,Total Population - Both sexes,Y2003,23680871.0
4,Afghanistan,Total Population - Both sexes,Y2004,24726684.0
...,...,...,...,...
140890,Net Food Importing Developing Countries,Urban population,Y2096,NaN
140891,Net Food Importing Developing Countries,Urban population,Y2097,NaN
140892,Net Food Importing Developing Countries,Urban population,Y2098,NaN
140893,Net Food Importing Developing Countries,Urban population,Y2099,NaN
140894,Net Food Importing Developing Countries,Urban population,Y2100,NaN

In [11]:
all_data.to_csv('result.csv')