In [1]:
import pandas as pd 
import numpy as np 
data = pd.read_csv('Environment_Fertilizers_E_All_Data_NOFLAG.csv',encoding='unicode_escape')
data

,Area,Item,Unit,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,...,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018
0,Afghanistan,Nutrient nitrogen N (total),kg/ha,0.13,0.13,0.13,0.13,0.13,0.13,1.13,...,1.79,1.63,2.90,2.16,4.41,9.34,2.66,12.22,17.80,5.89
1,Afghanistan,Nutrient phosphate P2O5 (total),kg/ha,0.01,0.01,0.01,0.01,0.01,0.06,0.13,...,0.07,0.12,0.87,0.16,0.38,0.65,1.28,1.14,2.11,1.56
2,Afghanistan,Nutrient potash K2O (total),kg/ha,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,0.00,0.00,0.00,0.02,0.01,0.00,0.00,0.01,0.00,0.00
3,Albania,Nutrient nitrogen N (total),kg/ha,6.65,4.11,4.04,3.99,3.83,5.56,12.59,...,48.76,44.96,53.01,50.21,44.11,44.13,52.87,60.98,56.70,35.59
4,Albania,Nutrient phosphate P2O5 (total),kg/ha,5.08,5.13,5.05,6.99,9.58,9.26,12.59,...,29.96,31.08,33.54,31.85,32.90,32.91,41.27,49.10,30.77,19.19
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
595,Net Food Importing Developing Countries,Nutrient phosphate P2O5 (total),kg/ha,1.26,1.37,1.46,1.53,1.63,1.76,1.94,...,7.91,9.11,10.00,10.06,10.14,10.59,11.88,12.14,12.30,12.73
596,Net Food Importing Developing Countries,Nutrient potash K2O (total),kg/ha,1.22,1.38,1.60,1.68,1.79,1.62,1.43,...,2.74,3.31,4.21,3.68,4.07,4.31,4.83,4.66,5.42,5.83
597,OECD,Nutrient nitrogen N (total),kg/ha,19.26,21.63,23.60,25.23,28.04,31.18,34.89,...,65.51,70.15,72.47,75.85,77.42,75.93,75.11,77.17,76.23,75.10
598,OECD,Nutrient phosphate P2O5 (total),kg/ha,19.31,20.38,22.12,24.13,25.52,27.37,29.02,...,19.03,22.66,23.65,25.09,25.60,25.63,25.44,25.87,26.93,26.60
599,OECD,Nutrient potash K2O (total),kg/ha,16.76,17.83,18.75,19.53,20.77,21.98,24.18,...,16.27,19.85,20.91,21.50,22.45,22.79,22.18,22.79,23.68,23.10

In [4]:
year_list = data.columns.tolist()
year_list = year_list[42:]
year_list

['Y2000',
 'Y2001',
 'Y2002',
 'Y2003',
 'Y2004',
 'Y2005',
 'Y2006',
 'Y2007',
 'Y2008',
 'Y2009',
 'Y2010',
 'Y2011',
 'Y2012',
 'Y2013',
 'Y2014',
 'Y2015',
 'Y2016',
 'Y2017',
 'Y2018']

In [6]:
data = data.groupby(['Area']).sum()
data

,Y1961,Y1962,Y1963,Y1964,Y1965,Y1966,Y1967,Y1968,Y1969,Y1970,...,Y2009,Y2010,Y2011,Y2012,Y2013,Y2014,Y2015,Y2016,Y2017,Y2018
Area,,,,,,,,,,,,,,,,,,,,,
Afghanistan,0.14,0.14,0.14,0.14,0.14,0.19,1.26,1.88,2.13,2.42,...,1.86,1.75,3.77,2.34,4.80,9.99,3.94,13.37,19.91,7.45
Africa,5.04,5.43,5.97,6.44,6.77,7.29,7.49,8.11,8.03,9.09,...,18.20,20.27,20.44,19.20,19.30,20.76,21.77,22.17,25.35,25.13
Albania,13.15,10.68,10.71,12.78,15.33,17.60,27.88,64.91,61.54,73.62,...,79.08,76.47,87.08,82.79,78.15,78.18,95.29,111.22,88.39,58.49
Algeria,6.93,7.96,7.78,7.77,5.76,7.57,7.51,10.02,10.32,16.32,...,12.74,14.09,14.05,18.99,19.95,22.57,20.75,18.50,18.35,18.27
Americas,27.47,30.72,34.04,36.23,39.98,45.12,49.72,51.02,51.19,54.89,...,91.85,107.52,123.58,124.34,129.88,131.51,121.21,128.29,134.05,135.25
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
World,23.13,25.04,27.64,30.72,34.23,37.98,40.68,42.97,44.99,49.16,...,103.65,114.31,120.28,116.93,119.27,122.24,120.17,122.20,122.65,120.67
Yemen,0.00,0.00,0.00,0.00,0.00,0.01,0.01,0.02,0.38,0.07,...,9.71,15.91,9.91,12.86,24.34,17.82,1.44,15.01,10.67,3.03
Yugoslav SFR,31.32,38.88,53.13,55.22,54.80,60.68,62.47,66.86,70.84,76.95,...,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00,0.00
Zambia,3.99,3.33,3.54,4.05,4.22,4.57,5.51,7.04,5.98,13.05,...,25.53,28.87,45.69,37.28,48.49,49.99,55.39,63.39,71.37,52.02
Zimbabwe,20.85,19.22,23.06,32.32,34.64,33.65,36.85,35.55,39.49,43.65,...,28.09,33.26,25.93,17.81,18.51,23.86,22.34,31.71,37.41,37.41

In [9]:
data.reset_index(inplace=True)
from IPython.display import display
all_data = []
for location in data['Area'].unique():
    print(location)
    one_row = data[
        (data['Area'] == location) 
    ]
    for year in year_list:
        one_data = []
        one_data.append(location)
        one_data.append(year)
        one_data.append(one_row[year].values[0])
        all_data.append(one_data)
all_data = pd.DataFrame(all_data)
all_data.columns = ['Area','Year','Nutrient']
all_data

Afghanistan
Africa
Albania
Algeria
Americas
Angola
Antigua and Barbuda
Argentina
Armenia
Asia
Australia
Australia and New Zealand
Austria
Azerbaijan
Bahamas
Bangladesh
Barbados
Belarus
Belgium
Belgium-Luxembourg
Belize
Benin
Bhutan
Bolivia (Plurinational State of)
Bosnia and Herzegovina
Botswana
Brazil
Bulgaria
Burkina Faso
Burundi
Cambodia
Cameroon
Canada
Caribbean
Central African Republic
Central America
Central Asia
Chile
China
China, Taiwan Province of
China, mainland
Colombia
Congo
Cook Islands
Costa Rica
Croatia
Cuba
Cyprus
Czechia
Czechoslovakia
Côte d'Ivoire
Democratic Republic of the Congo
Denmark
Dominica
Dominican Republic
Eastern Africa
Eastern Asia
Eastern Europe
Ecuador
Egypt
El Salvador
Eritrea
Estonia
Ethiopia
Ethiopia PDR
Europe
European Union (27)
European Union (28)
Fiji
Finland
France
French Polynesia
Gabon
Gambia
Georgia
Germany
Ghana
Greece
Guatemala
Guinea
Guyana
Honduras
Hungary
Iceland
India
Indonesia
Iran (Islamic Republic of)
Iraq
Israel
Italy
Jamaica
Japan
Jordan
Kazakhstan
Kenya
Kyrgyzstan
Land Locked Developing Countries
Latvia
Least Developed Countries
Lebanon
Libya
Lithuania
Low Income Food Deficit Countries
Luxembourg
Madagascar
Malawi
Malaysia
Maldives
Mali
Malta
Mauritius
Melanesia
Mexico
Micronesia
Middle Africa
Mongolia
Morocco
Mozambique
Myanmar
Namibia
Nauru
Nepal
Net Food Importing Developing Countries
New Caledonia
Nicaragua
Niger
Nigeria
North Macedonia
Northern Africa
Northern America
Northern Europe
Norway
OECD
Oceania
Oman
Pakistan
Panama
Papua New Guinea
Paraguay
Peru
Philippines
Poland
Polynesia
Portugal
Qatar
Republic of Korea
Republic of Moldova
Romania
Russian Federation
Rwanda
Saint Lucia
Samoa
Saudi Arabia
Senegal
Serbia
Serbia and Montenegro
Seychelles
Slovakia
Slovenia
Small Island Developing States
South Africa
South America
South-eastern Asia
Southern Africa
Southern Asia
Southern Europe
Spain
Sri Lanka
Sudan
Sudan (former)
Suriname
Sweden
Switzerland
Syrian Arab Republic
Tajikistan
Thailand
Togo
Tonga
Trinidad and Tobago
Tunisia
Turkey
USSR
Uganda
Ukraine
United Arab Emirates
United Kingdom of Great Britain and Northern Ireland
United Republic of Tanzania
United States of America
Uruguay
Uzbekistan
Venezuela (Bolivarian Republic of)
Viet Nam
Western Africa
Western Asia
Western Europe
World
Yemen
Yugoslav SFR
Zambia
Zimbabwe

             Area   Year  Nutrient
0     Afghanistan  Y2000      0.64
1     Afghanistan  Y2001      2.37
2     Afghanistan  Y2002      3.16
3     Afghanistan  Y2003      3.42
4     Afghanistan  Y2004      4.18
...           ...    ...       ...
3795     Zimbabwe  Y2014     23.86
3796     Zimbabwe  Y2015     22.34
3797     Zimbabwe  Y2016     31.71
3798     Zimbabwe  Y2017     37.41
3799     Zimbabwe  Y2018     37.41

[3800 rows x 3 columns]

In [10]:
all_data.to_csv('result.csv')