In [1]:
import pandas as pd 
import numpy as np 
from IPython.display import display

data = pd.read_csv('FoodBalanceSheets_E_All_Data_NOFLAG.csv')
data = data[data['Element']=='Food supply (kcal/capita/day)']
data = data.drop('Element',axis=1)
data = data[data.Item.isin(['Vegetables','Meat','Eggs','Maize and products'])]
data

,Area,Item,Y2014,Y2015,Y2016,Y2017,Y2018
83,Afghanistan,Maize and products,22.0,13.0,15.0,11.0,15.0
679,Afghanistan,Vegetables,33.0,26.0,43.0,34.0,22.0
1033,Afghanistan,Meat,71.0,65.0,61.0,56.0,55.0
1176,Afghanistan,Eggs,7.0,7.0,7.0,7.0,6.0
1188,Afghanistan,Eggs,7.0,7.0,7.0,7.0,6.0
...,...,...,...,...,...,...,...
291558,Net Food Importing Developing Countries,Maize and products,268.0,270.0,273.0,277.0,271.0
292362,Net Food Importing Developing Countries,Vegetables,42.0,42.0,42.0,41.0,42.0
292819,Net Food Importing Developing Countries,Meat,89.0,86.0,84.0,83.0,85.0
293026,Net Food Importing Developing Countries,Eggs,11.0,11.0,10.0,11.0,11.0
293042,Net Food Importing Developing Countries,Eggs,11.0,11.0,10.0,11.0,11.0

In [2]:
all_data = []
for row in data.iterrows():
    for i in range(2,len(row[1])):
        one_row = []
        one_row.append(row[1][0])
        one_row.append(row[1][1])
        year = 2012 + i 
        one_row.append(year)
        one_row.append(row[1][i])
        all_data.append(one_row)
all_data = pd.DataFrame(all_data,columns=['Country','Item','Year','Value'])
all_data

                                      Country                Item  Year  Value
0                                 Afghanistan  Maize and products  2014   22.0
1                                 Afghanistan  Maize and products  2015   13.0
2                                 Afghanistan  Maize and products  2016   15.0
3                                 Afghanistan  Maize and products  2017   11.0
4                                 Afghanistan  Maize and products  2018   15.0
...                                       ...                 ...   ...    ...
5185  Net Food Importing Developing Countries                Eggs  2014   11.0
5186  Net Food Importing Developing Countries                Eggs  2015   11.0
5187  Net Food Importing Developing Countries                Eggs  2016   10.0
5188  Net Food Importing Developing Countries                Eggs  2017   11.0
5189  Net Food Importing Developing Countries                Eggs  2018   11.0

[5190 rows x 4 columns]

In [3]:
all_data.drop_duplicates(inplace=True)

In [4]:
result = pd.DataFrame()
count = 0
for item in all_data['Item'].unique():
    one_item = all_data[all_data.Item == item]
    one_item.set_index(['Country','Year'],inplace=True)
    one_item.drop('Item',axis=1,inplace=True)
    one_item.columns = [item]
#     display(one_item)
    if count ==0 :
        
        result = one_item
    else:
        result =pd.merge(result,one_item,how='left',
                         left_index=True,right_index=True)
    count += 1
    print(count)
result

1
2
3
4

D:\ANACONDA\lib\site-packages\pandas\core\frame.py:4163: SettingWithCopyWarning:
A value is trying to be set on a copy of a slice from a DataFrame

See the caveats in the documentation: https://pandas.pydata.org/pandas-docs/stable/user_guide/indexing.html#returning-a-view-versus-a-copy
  return super().drop(

                                              Maize and products  Vegetables  \
Country                                 Year
Afghanistan                             2014                22.0        33.0
                                        2015                13.0        26.0
                                        2016                15.0        43.0
                                        2017                11.0        34.0
                                        2018                15.0        22.0
...                                                          ...         ...
Net Food Importing Developing Countries 2014               268.0        42.0
                                        2015               270.0        42.0
                                        2016               273.0        42.0
                                        2017               277.0        41.0
                                        2018               271.0        42.0

                                              Meat  Eggs
Country                                 Year
Afghanistan                             2014  71.0   7.0
                                        2015  65.0   7.0
                                        2016  61.0   7.0
                                        2017  56.0   7.0
                                        2018  55.0   6.0
...                                            ...   ...
Net Food Importing Developing Countries 2014  89.0  11.0
                                        2015  86.0  11.0
                                        2016  84.0  10.0
                                        2017  83.0  11.0
                                        2018  85.0  11.0

[1025 rows x 4 columns]

In [5]:
result.to_csv('balance.csv')