In [2]:
import pandas as pd 
import numpy as np 
from IPython.display import display
data = pd.read_csv('失业率old.csv')
data

,Country Name,2000,2001,2002,2003,2004,2005,2006,2007,2008,...,2011,2012,2013,2014,2015,2016,2017,2018,2019,2020
0,Aruba,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,Afghanistan,11.517,11.513000,11.596,11.604000,11.528,11.429000,11.224000,11.046,10.985000,...,11.488,11.508,11.534,11.448000,11.387,11.313000,11.184000,11.057,11.118,11.164000
2,Angola,3.837,3.835000,3.871,3.875000,3.842,3.800000,3.712000,3.637,3.612000,...,7.362,7.379,7.400,7.331000,7.282,7.223000,7.119000,7.019,6.886,6.774000
3,Albania,16.573,16.566999,16.673,16.684000,16.586,16.459999,16.195999,15.966,13.060000,...,13.481,13.376,15.866,17.490000,17.080,15.220000,13.750000,12.340,12.331,12.813000
4,Andorra,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
259,Kosovo,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
260,"Yemen, Rep.",11.567,11.700000,11.921,12.069000,12.130,12.167000,12.088000,12.032,12.101000,...,13.080,13.248,13.424,13.467000,13.395,13.307000,13.152000,13.002,12.910,12.830000
261,South Africa,30.229,30.896000,33.473,32.456001,29.576,29.253000,28.489000,26.666,22.433001,...,24.653,24.732,24.569,24.898001,25.156,26.551001,27.070999,26.920,28.181,28.476999
262,Zambia,12.930,13.515000,14.207,14.836000,15.380,15.900000,12.853000,10.183,7.930000,...,10.343,7.850,8.618,9.340000,10.105,10.882000,11.626000,11.500,11.425,11.412000
263,Zimbabwe,5.640,5.309000,5.040,4.733000,4.390,4.474000,4.496000,4.529,4.628000,...,5.368,5.381,5.399,5.342000,5.302,5.253000,5.168000,5.087,4.954,4.991000

In [5]:
year_list = data.columns.tolist()[1:]
year_list

['2000',
 '2001',
 '2002',
 '2003',
 '2004',
 '2005',
 '2006',
 '2007',
 '2008',
 '2009',
 '2010',
 '2011',
 '2012',
 '2013',
 '2014',
 '2015',
 '2016',
 '2017',
 '2018',
 '2019',
 '2020']

In [8]:
all_data = []
for area in data['Country Name'].unique():
    print(area)
    one_data = data[data['Country Name']==area]
    for year in year_list:
        one = []
        one.append(area)
        one.append(year)
        one.append(one_data[year].values[0])
        all_data.append(one)
all_data = pd.DataFrame(all_data)
all_data.columns = ['Area','Year','Unemployment_rate']
all_data
#     one_data.columns = ['Area','Year',i]
all_data.set_index(['Area','Year'],inplace=True)
#     display(one_data)
#     all_ = pd.concat([all_,one_data],axis=1)
all_data.to_csv('失业率.csv')

Aruba
Afghanistan
Angola
Albania
Andorra
Arab World
United Arab Emirates
Argentina
Armenia
American Samoa
Antigua and Barbuda
Australia
Austria
Azerbaijan
Burundi
Belgium
Benin
Burkina Faso
Bangladesh
Bulgaria
Bahrain
Bahamas, The
Bosnia and Herzegovina
Belarus
Belize
Bermuda
Bolivia
Brazil
Barbados
Brunei Darussalam
Bhutan
Botswana
Central African Republic
Canada
Central Europe and the Baltics
Switzerland
Channel Islands
Chile
China
Cote d'Ivoire
Cameroon
Congo, Dem. Rep.
Congo, Rep.
Colombia
Comoros
Cabo Verde
Costa Rica
Caribbean small states
Cuba
Curacao
Cayman Islands
Cyprus
Czech Republic
Germany
Djibouti
Dominica
Denmark
Dominican Republic
Algeria
East Asia & Pacific (excluding high income)
Early-demographic dividend
East Asia & Pacific
Europe & Central Asia (excluding high income)
Europe & Central Asia
Ecuador
Egypt, Arab Rep.
Euro area
Eritrea
Spain
Estonia
Ethiopia
European Union
Fragile and conflict affected situations
Finland
Fiji
France
Faroe Islands
Micronesia, Fed. Sts.
Gabon
United Kingdom of Great Britain and Northern Ireland
Georgia
Ghana
Gibraltar
Guinea
Gambia, The
Guinea-Bissau
Equatorial Guinea
Greece
Grenada
Greenland
Guatemala
Guam
Guyana
High income
Hong Kong SAR, China
Honduras
Heavily indebted poor countries (HIPC)
Croatia
Haiti
Hungary
IBRD only
IDA & IBRD total
IDA total
IDA blend
Indonesia
IDA only
Isle of Man
India
Not classified
Ireland
Iran, Islamic Rep.
Iraq
Iceland
Israel
Italy
Jamaica
Jordan
Japan
Kazakhstan
Kenya
Kyrgyz Republic
Cambodia
Kiribati
St. Kitts and Nevis
Korea, Rep.
Kuwait
Latin America & Caribbean (excluding high income)
Lao PDR
Lebanon
Liberia
Libya
St. Lucia
Latin America & Caribbean
Least developed countries: UN classification
Low income
Liechtenstein
Sri Lanka
Lower middle income
Low & middle income
Lesotho
Late-demographic dividend
Lithuania
Luxembourg
Latvia
Macao SAR, China
St. Martin (French part)
Morocco
Monaco
Moldova
Madagascar
Maldives
Middle East & North Africa
Mexico
Marshall Islands
Middle income
North Macedonia
Mali
Malta
Myanmar
Middle East & North Africa (excluding high income)
Montenegro
Mongolia
Northern Mariana Islands
Mozambique
Mauritania
Mauritius
Malawi
Malaysia
North America
Namibia
New Caledonia
Niger
Nigeria
Nicaragua
Netherlands
Norway
Nepal
Nauru
New Zealand
OECD members
Oman
Other small states
Pakistan
Panama
Peru
Philippines
Palau
Papua New Guinea
Poland
Pre-demographic dividend
Puerto Rico
Korea, Dem. People’s Rep.
Portugal
Paraguay
West Bank and Gaza
Pacific island small states
Post-demographic dividend
French Polynesia
Qatar
Romania
Russian Federation
Rwanda
South Asia
Saudi Arabia
Sudan
Senegal
Singapore
Solomon Islands
Sierra Leone
El Salvador
San Marino
Somalia
Serbia
Sub-Saharan Africa (excluding high income)
South Sudan
Sub-Saharan Africa
Small states
Sao Tome and Principe
Suriname
Slovak Republic
Slovenia
Sweden
Eswatini
Sint Maarten (Dutch part)
Seychelles
Syrian Arab Republic
Turks and Caicos Islands
Chad
East Asia & Pacific (IDA & IBRD countries)
Europe & Central Asia (IDA & IBRD countries)
Togo
Thailand
Tajikistan
Turkmenistan
Latin America & the Caribbean (IDA & IBRD countries)
Timor-Leste
Middle East & North Africa (IDA & IBRD countries)
Tonga
South Asia (IDA & IBRD)
Sub-Saharan Africa (IDA & IBRD countries)
Trinidad and Tobago
Tunisia
Turkey
Tuvalu
Tanzania
Uganda
Ukraine
Upper middle income
Uruguay
United States of America
Uzbekistan
St. Vincent and the Grenadines
Venezuela, RB
British Virgin Islands
Virgin Islands (U.S.)
Vietnam
Vanuatu
World
Samoa
Kosovo
Yemen, Rep.
South Africa
Zambia
Zimbabwe